<h1>View Tasklist</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
    </tr>
  </thead>

  <tbody>
      <tr>
        <td><%= @tasklist.title %></td>
      </tr>
  </tbody>
</table>

<br>

<%= link_to 'All Tasklists', tasklists_path %>

<br>

<%= link_to 'Edit This Entry', edit_tasklist_path %>
